body {
  background-color: aquamarine;
}
.container-fluid {
  padding: 10%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: rgb(164, 96, 7);
  font-size: 900;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h4 {
  text-align: center;
}

a {
  padding: 20px;
  text-align: center;
  display: block;
  font-size: large;
  color: rgb(111, 59, 158);
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  width: 400px;
}
