body {
  background-color: aquamarine;
}
.container-fluid {
  padding: 10%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: rgb(164, 96, 7);
  font-size: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h4 {
  text-align: center;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
  text-align: justify;
}

footer a {
  margin: 0 20px;
  color: rgb(183, 110, 13);
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

footer {
  text-align: center;
  margin-top: 50px;
}
